@model IEnumerable<MvcMusicStore.Models.Album>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
    <input type="text" name="q" />
    <input type="submit" value="Search" />
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artist.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlbumArtUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Artist.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlbumArtUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AlbumId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AlbumId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AlbumId })
        </td>
    </tr>
}

</table>

<div id="dailydeal">
    @Ajax.ActionLink("Click here to see today's special!",
        "DailyDeal",
        null,
        new AjaxOptions
        {
            UpdateTargetId="dailydeal",
            InsertionMode=InsertionMode.Replace,
            HttpMethod="GET"
        },
        new {@class="btn btn-primary"})
</div>
<div style="height:20px"></div>
<div class="panel panel-default">
    <div class="panel-heading">Artist search</div>
    <div class="panel-body">
        @using(Ajax.BeginForm("ArtistSearch","MusicStoreManager",
            new AjaxOptions
            {
                InsertionMode =InsertionMode.Replace,
                HttpMethod="GET",
                OnFailure="searchFailed",
                LoadingElementId="ajax-loader",
                UpdateTargetId="searchresults",
            }))
        {
            <input type="text" name="q" data-autocomplete-source="@Url.Action("QuickSearch","MusicStoreManager")" />
            <input type="submit" value="search" />  
            <img id="ajax-loader" src="~/Content/piclist13.jpg" />          
        }
        <div id="searchresults"></div>
    </div>
</div>

<div id="album-list" style="height:120px">
    <img src="~/Content/piclist13.jpg" />
    <img src="~/Content/piclist13.jpg" />
    <img src="~/Content/piclist13.jpg" />
    <img src="~/Content/piclist13.jpg" />
    <img src="~/Content/piclist13.jpg" />
</div>
@section Scripts{
    <script src="~/Scripts/MusicStore/MusicScripts.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}


